
main {
  padding: 16px 32px;
  background-color: #f0f0f0; 
  color: #333; 
}


section ul {
  padding: 0;
  display: grid;
  grid-gap: 16px;
  list-style: none;
  grid-template-columns: 1fr 1fr 1fr;
}
li {
  padding: 16px;
  border-radius: 8px;
  background-color: #ffffff; 
  border: 1px solid #dddddd;
  color: #333333; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}


form {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}


form * {
  margin-right: 16px;
}


input, button {
  padding: 8px 16px;
  border-radius: 8px;
  border: 1px solid #cccccc; 
  background-color: #ffffff; 
  color: #333333; 
}

button {
  cursor: pointer;
  background-color: #007bff; 
  color: #ffffff; 
}

button:hover {
  background-color: #0056b3; 
}

input:focus, button:focus {
  outline: none;
  border-color: #007bff; 
  box-shadow: 0 0 4px rgba(0, 123, 255, 0.5);
}
